// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg-color {
    background-color: #333333;
}

.menu-bg-color {
    background-color: #3C4252;
}

.main-bg-color {
    background-color: #F4F6FA;
}

.h-90 {
    height: 92%;
}

// Custom Tailwind CSS
.h-90 {
    height: 90%;
}

/*************************************************** */
/* custom tailwind css
/*************************************************** */
// width
.w-10\% {
    width: 10%
}
.w-40\% {
    width: 40%
}
// margin
.mb-4 {
    margin-bottom: 1rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.w-250px {
    width: 250px;
}
// height
.h-5\/6 {
    height: 83.333333%;
}

/*************************************************** */
/* share component
/*************************************************** */
.black-btn {
    background-color: #000000;
    color: #ffffff;
}

.delete-icon:hover {
    cursor: pointer;
}

.text-error {
    color: #b51f1f;
}


/*************************************************** */
/* 鉄筋計算
/*************************************************** */
.rebar {
    height: 100%;
    /* 左サイド */
    .left {
        width: 70%;
    }
    /* 右サイド */
    .right {
        width: 30%;
    }

    /* 入力全体のフレーム */
    .comp-form {
        max-height: 68vh;
        overflow-y: auto;
    }
}

/* 部材選択フレーム */
.rebar .comp-frame {
    padding: 8px;
}
/* 入力項目の外枠 */
.rebar .comp-div-outline {
    border: 1px solid #DADADA;
    padding: 16px;
    margin-bottom: 8px;
}
/* 入力項目のタイトル */
.rebar .comp-div-title {
    border-left: 4px solid #2083D7;
    font-weight: 600;
    padding: 4px;
}
/* 入力項目のテーブルヘッダー */
.rebar .input-table {
    border: 1px solid #DADADA;
    width: 100%;
}
/* 入力項目のテーブルヘッダー */
.rebar .comp-div-th {
    border: 1px solid #DADADA;
    background-color: #333333;
    color: #ffffff;
    padding-left: 10px;
}